## Intermediate Data Science

#### University of Redlands - DATA 201
#### Prof: Joanna Bieri [joanna_bieri@redlands.edu](mailto:joanna_bieri@redlands.edu)
#### [Class Website: data201.joannabieri.com](https://joannabieri.com/data201_intermediate.html)

In [4]:
# Some basic package imports
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.io as pio
pio.renderers.defaule = 'colab'

In [ ]:
# Make sure that you load the new packages from lecture if needed
# !conda install -y lxml beautifulsoup4 html5lib
# !conda install -y openpyxl xlrd
# !conda install -y requests

### You Try - 3 Warm-Up Problems From Lecture

Here is a file that does not just read in nicely. See if you can use optional arguments to read it in.

*Hint* How many (and which) rows of this data are just junk?

**Terminal Command Line:**

The command

        cat data/ex4.csv

if typed into a terminal prints out the contents of the file line by line. This lets us take a quick look at what is in the file. BEWARE - if you do this with a large file it will take a long time to print! Another great command is:

        head data/ex4.csv

would just show the first 10 lines of the file!

In [ ]:
# This code lets you look at the data
# the terminal command "cat" - prints the contents of a file
# when we do !cat filename we can look at the 
file_name = 'data/ex4.csv'
!cat data/ex4.csv

In [ ]:
# Your code here

------------------------------------------------------

In [ ]:
# EXAMPLES - DICTIONARY TO PANDAS
my_dict = {"name": "Wes",
 "cities_lived": ["Akron", "Nashville", "New York", "San Francisco"],
 "pet": None,
 "siblings": [{"name": "Scott", "age": 34, "hobbies": ["guitars", "soccer"]},
              {"name": "Katie", "age": 42, "hobbies": ["diving", "art"]}]
}
my_dict

In [ ]:
for key in my_dict.keys():
    print(key)
    print(my_dict[key])
    print('----------')

In [ ]:
# This code will give you an error
df = pd.DataFrame(my_dict)
df

In [ ]:
# This code will work
df = pd.DataFrame(my_dict['siblings'])
df

### You Try:

Can you explain what is going on in the examples above? Why does one give an error and the other works? What specifically is it about focusing in on the siblings data that allows pandas to read this?

**Your explanation here:**

---------------------------------------

### You Try

Here is an example website that contains a table:

https://www.scrapethissite.com/pages/forms/

1. Open the website in your browser. Does the page that appears contain ALL the data about hockey teams?
2. How does the web address change when you select the second page of the website.
3. See if you can write code that will scrape all of the data. HINT: I would use a for loop that updates the web address and appends the new table to a list.
4. Once you have the list of tables can you get them into a single data frame and save the data as a .csv?

In [10]:
# Here is how I could get one page
website = 'https://www.scrapethissite.com/pages/forms/'
tables = pd.read_html(website)
len(tables)

    state  year  pop  eastern
0    Ohio  2000  1.5     True
1    Ohio  2001  1.7     True
2    Ohio  2002  3.6     True
3  Nevada  2001  2.4    False
4  Nevada  2002  2.9    False
5  Nevada  2003  3.2    False

In [ ]:
# Your code here

------------------------------------------------

## Reading and Writing Data - Day3 HW

## Homework 3

Go to Kaggle Datasets: https://www.kaggle.com/datasets

Find a data set that you are interested in looking at. You are welcome to work together and choose a data set as a group! You should read in this data and do some basic statistics on the data set. Answer the following questions:

1. Tell your reader about the data: Where did you get it? When did you access it? Who owns it? What is the license? Are there any acknowledgments that you should give for using the data? All of this should be on the Kaggle page
2. How many variables and observations?
3. What type of data is contained? Was it read in as strings, ints, floats?
4. Are there any NaNs or weird data types that you can see?
5. Most Kaggle datasets contain some basic stats or visualizations on the download page. See if you can recreate some of the plots or data you see on the website.
6. Come up with at least one question of your own that you can answer by analyzing the data.
7. Create a dataframe with just the data you need to answer your question - save the data subset to a file (your choice of type)
8. **In a NEW NOTEBOOK** Write code that reads in your subset of the data, markdown that explains clearly where you got the data originally (license and references included) and the process you took to create your subset, a description of the question you are answering, and code that can reliably run and answer your question followed by words that explain your results.

------------------------------------

Your final notebooks should:

- [ ] Be completely new notebooks with just the Day3 stuff in it: First the code that creates your data and second the code that reads in the data and does the analysis. 
- [ ] Be reproducible with junk code removed.
- [ ] Have lots of language describing what you are doing, especially for questions you are asking or things that you find interesting about the data. Use complete sentences, nice headings, and good markdown formatting: https://www.markdownguide.org/cheat-sheet/
- [ ] It should run without errors from start to finish.

In [ ]:
DONT FORGET TO HAND IN YOUR DATA!!!!